name: CLI builds

on: push

env:
  BUILD_TYPE: Release

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        include:
          - triple: 'x86_64-linux-gnu'
            target: 'linux'
            runner: 'ubuntu-22.04'

          - triple: 'aarch64-linux-gnu'
            target: 'linux'
            runner: 'ubuntu-22.04'

          - triple: 'x86_64-windows-msvc'
            target: 'windows'
            runner: 'windows-latest'

          - triple: 'x86_64-apple-darwin'
            target: 'macos'
            runner: 'macos-14'

          - triple: 'arm64-apple-macos'
            target: 'macos'
            runner: 'macos-14'

    name: Build CLI for ${{ matrix.triple }}

    runs-on: ${{ matrix.runner }}
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Update APT repos (Linux only)
        if: matrix.runner == 'ubuntu-22.04'
        run: sudo apt-get update

      - name: Set-up D compiler (Linux/Windows)
        if: matrix.runner != 'macos-14'
        uses: ./.github/actions/setup-d-compiler
        with:
          target-triple: ${{ matrix.triple }}

      - name: Set-up D compiler (macOS)
        if: matrix.runner == 'macos-14'
        uses: dlang-community/setup-dlang@v1
        with:
          compiler: ldc-1.34.0

      - name: Write version file
        uses: ./.github/actions/write-version-file

      - name: Build
        run: dub build -b release-debug --compiler=ldc2 --arch ${{ matrix.triple }} :cli-frontend

      - name: Move files around for artifcation
        uses: ./.github/actions/rename-files
        with:
          build-tag: cli-${{ matrix.triple }}

      - uses: actions/upload-artifact@v4
        with:
          name: sideloader-cli-${{ matrix.triple }}
          path: |
            ${{github.workspace}}/bin/*
